body {
    background-color: #A1F2EC;
    
}

#canvas {
    display: block;
    border: 1px;
    margin:  auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#start{
width: 4%;


}

#stop{
   width: 4%;
   
}

