body {
  background-color: #a1f2ec;
}

h1 {
  font: "Dyuthi";
  font-weight: 3em;
  font-size: 2.5em;
  font-style: oblique;
}
#canvas {
  display: block;
  border: 1px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 50px;
}

#start {
  width: 5%;
  height: 5%;
  margin-top: 25px;
  margin-right: 25px;
}
