body {
    background-color: #A1F2EC;
    
}

#canvas {
    display: block;
    border: 1px;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#start{
width: 5%;


}

